# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
net
/assets
/.codex-reference
.codex_tmp_mc_sources

# Files from Forge MDK
forge*changelog.txt
